dist: trusty
sudo: required
language: node_js
node_js:
  - "8.0.0"

matrix:
  include:
    - os: linux
      dist: trusty
      before_install: 
      - sudo add-apt-repository ppa:ethereum/ethereum -y
      - sudo apt-get update
      - sudo apt-get install build-essential -y
      - sudo apt-get install gcc g++ libssl-dev libudev-dev pkg-config

install: 
  - bash ./install.sh

script: 
  - bash ./run.sh
